.Deck h1{
    color: white;
    letter-spacing: .5em;
    
}

.Deck h2 {
    color: white;
    letter-spacing: .5em;
}

.Deck-card-area{
    margin-top: 90px;
}

button {
    background-color: black;
    border: white 3px solid;
    height: 50px;
    width: 100px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}

button:hover {
    background-color: green;

   

}
